<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="Browse our handpicked recipe suggestions — ready to explore, cook, and save to your collection.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>MySmartCookbook – Featured Recipes</title>

    <!-- ✅ Favicon Classic -->
    <link rel="icon" type="image/x-icon" href="/img/core-img/favicon.ico">

    <!-- ✅ PNG Favicons for modern browsers -->
    <link rel="icon" type="image/png" sizes="32x32" href="/img/core-img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/core-img/favicon-16x16.png">

    <!-- ✅ iOS -->
    <link rel="apple-touch-icon" sizes="180x180" href="/img/core-img/apple-touch-icon.png">

    <!-- Font Awesome 6.5 (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
<!-- PreLoader -->
<div id="preloader">
    <i class="circle-preloader"></i>
    <img src="img/core-img/preloader.png" alt="">
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-between">

                <!-- Breaking News -->
                <div class="col-12 col-sm-6">
                    <div class="breaking-news">
                        <div id="breakingNewsTicker" class="ticker">
                            <ul>
                                <li><a href="#">Hello, <span id="navbarUsername" class="fw-bold mx-1">User</span>!</a>
                                </li>
                                <li><a href="#">Featured picks – discover something new today</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Top Social Info -->
                <div class="col-12 col-sm-6">
                    <div class="top-social-info text-right">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-tiktok" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="delicious-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="deliciousNav">

                    <!-- Logo -->
                    <a class="nav-brand" href="/home"><img src="img/core-img/logo.png" alt=""></a>

                    <!-- Navbar Toggle -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <!-- Navbar Tab: Home -->
                                <li><a href="/home">Home</a></li>

                                <!-- Navbar Tab: Add new recipe -->
                                <li><a href="/add-recipe">Add Recipe</a></li>

                                <!-- Navbar Tab: User's saved recipes -->
                                <li><a href="/all-recipes">My Recipes</a></li>

                                <!-- Navbar Tab: Featured Recipes -->
                                <li class="active"><a href="/public-recipes-user">Featured Recipes</a></li>

                                <!-- Navbar Tab: Logout -->
                                <li>
                                    <a id="logoutButton" onclick="logoutUser()"
                                       style="cursor: pointer;">Logout</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->

<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcrumb9.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-text text-center">
                    <h2>Featured Recipes to Inspire Your Next Meal</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Free Recipes Area Start ##### -->
<section class="best-recipe-area section-padding-80 bg-img">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Title  -->
            <div class="col-12 col-lg-8">
                <div class="section-heading text-center">
                    <h3>Our Curated Recipes, Just for You</h3>
                    <p>Explore handpicked ideas when you’re not sure what to cook.</p>
                </div>
            </div>
        </div>

        <!-- ##### Search Area Start ##### -->
        <div class="receipe-post-search mb-80">
            <div class="container">
                <form id="filter-form">
                    <!-- Name -->
                    <div class="mb-3">
                        <input type="text" id="filter-name" class="form-control"
                               placeholder="Search by recipe name"
                               list="recipe-suggestions"
                               autocomplete="off">
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <!-- First ingredient -->
                        <div class="col-12 col-lg-6" id="ingredient-container">
                            <input type="text" class="form-control ingredient-input mb-2"
                                   placeholder="Search by ingredient"
                                   list="ingredient-suggestions"
                                   autocomplete="off">
                        </div>

                        <!-- Buttons -->
                        <div class="col-12 col-lg-6 d-flex flex-wrap gap-2">
                            <button type="button" class="btn delicious-btn w-100 mb-2" onclick="addIngredientInput()"><i
                                    class="bi bi-plus-circle me-3"></i> Add Ingredient (maximum 10)
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn delicious-btn w-100 mb-2" onclick="fetchPublicRecipesUser(0)">
                            <i class="bi bi-search me-3"></i> Search Recipes
                        </button>
                    </div>

                    <div class="mb-3">
                        <button type="button" class="btn btn-outline-secondary w-100 mb-2"
                                onclick="resetPublicUserFilters()">
                            <i class="bi bi-arrow-counterclockwise me-3"></i> Clear Filters
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <!-- ##### Search Area End ##### -->

        <!-- Results -->
        <div class="row justify-content-center">
            <div class="col-lg-10" id="allRecipesContainer"></div>
        </div>

        <!-- Pagination -->
        <div class="row">
            <div class="col-12 text-center mt-4 mb-5" id="paginationContainer"></div>
        </div>
    </div>
</section>
<!-- ##### Free Recipes Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer-area">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                <!-- Footer Social Info -->
                <div class="footer-social-info text-right">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-tiktok" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-snapchat-ghost" aria-hidden="true"></i></a>
                </div>
                <!-- Footer Logo -->
                <div class="footer-logo">
                    <a href="/home"><img src="img/core-img/logo.png" alt=""></a>
                </div>
                <!-- CopyWrite -->
                <p>
                    Template originally designed by <a href="https://colorlib.com" target="_blank">Colorlib</a>.
                    Licensed under <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- ##### Footer Area Start ##### -->

<!-- ##### All Javascript Files ##### -->
<!-- jQuery-2.2.4 js -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>
<!-- Scripts js -->
<script src="/js/scripts.js"></script>
</body>
</html>