<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Recipes</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<h1>All Recipes</h1>

<table>
  <thead>
  <tr>
    <th>Recipe Name</th>
    <th>Ingredients</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="recipe : ${recipes}">
    <td th:text="${recipe.name}"></td>
    <td>
      <ul>
        <li th:each="ingredient : ${recipe.ingredients}">
          <span th:text="${ingredient.ingredient.name}"></span> -
          <span th:text="${ingredient.quantity}"></span>
          <span th:text="${ingredient.unit}"></span>
        </li>
      </ul>
    </td>
    <td>
      <a th:href="@{/recipes/{id}(id=${recipe.id})}">View</a>
      <a th:href="@{/recipes/delete/{id}(id=${recipe.id})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>

<button onclick="window.location.href='/recipes/add'">Add New Recipe</button>
<button onclick="window.location.href='/'">Back to Home</button>

</body>
</html>
